{{ ansible_managed | comment }}
#
# WARNING: heavily refactored in 0.9.0 release.  Please review and
#          customize settings for your setup.
#
# Changes:  in most of the cases you should not modify this
#           file, but provide customizations in jail.local file,
#           or separate .conf files under jail.d/ directory, e.g.:
#
# HOW TO ACTIVATE JAILS:
#
# YOU SHOULD NOT MODIFY THIS FILE.
#
# It will probably be overwritten or improved in a distribution update.
#
# Provide customizations in a jail.local file or a jail.d/customisation.local.
# For example to change the default bantime for all jails and to enable the
# ssh-iptables jail the following (uncommented) would appear in the .local file.
# See man 5 jail.conf for details.
#
# [DEFAULT]
# bantime = 3600
#
# [sshd]
# enabled = true
#
# See jail.conf(5) man page for more information



# Comments: use '#' for comment lines and ';' (following a space) for inline comments


[INCLUDES]

before = {{ fail2ban_config_values.before }}

# The DEFAULT allows a global definition of the options. They can be overridden
# in each jail afterwards.

[DEFAULT]

#
# MISCELLANEOUS OPTIONS
#

# "ignoreip" can be an IP address, a CIDR mask or a DNS host. Fail2ban will not
# ban a host which matches an address in this list. Several addresses can be
# defined using space (and/or comma) separator.
ignoreip = {{ fail2ban_config_values.ignoreip }}

# External command that will take an tagged arguments to ignore, e.g. <ip>,
# and return true if the IP is to be ignored. False otherwise.
#
# ignorecommand = /path/to/command <ip>
ignorecommand = {{ fail2ban_config_values.ignorecommand }}

# "bantime" is the number of seconds that a host is banned.
bantime = {{ fail2ban_config_values.bantime }}

# A host is banned if it has generated "maxretry" during the last "findtime"
# seconds.
findtime = {{ fail2ban_config_values.findtime }}

# "maxretry" is the number of failures before a host get banned.
maxretry = {{ fail2ban_config_values.maxretry }}

# "backend" specifies the backend used to get files modification.
# Available options are "pyinotify", "gamin", "polling", "systemd" and "auto".
# This option can be overridden in each jail as well.
#
# pyinotify: requires pyinotify (a file alteration monitor) to be installed.
#              If pyinotify is not installed, Fail2ban will use auto.
# gamin:     requires Gamin (a file alteration monitor) to be installed.
#              If Gamin is not installed, Fail2ban will use auto.
# polling:   uses a polling algorithm which does not require external libraries.
# systemd:   uses systemd python library to access the systemd journal.
#              Specifying "logpath" is not valid for this backend.
#              See "journalmatch" in the jails associated filter config
# auto:      will try to use the following backends, in order:
#              pyinotify, gamin, polling.
#
# Note: if systemd backend is chosen as the default but you enable a jail
#       for which logs are present only in its own log files, specify some other
#       backend for that jail (e.g. polling) and provide empty value for
#       journalmatch. See https://github.com/fail2ban/fail2ban/issues/959#issuecomment-74901200
backend = {{ fail2ban_config_values.backend }}

# "usedns" specifies if jails should trust hostnames in logs,
#   warn when DNS lookups are performed, or ignore all hostnames in logs
#
# yes:   if a hostname is encountered, a DNS lookup will be performed.
# warn:  if a hostname is encountered, a DNS lookup will be performed,
#        but it will be logged as a warning.
# no:    if a hostname is encountered, will not be used for banning,
#        but it will be logged as info.
# raw:   use raw value (no hostname), allow use it for no-host filters/actions (example user)
usedns = {{ fail2ban_config_values.usedns }}

# "logencoding" specifies the encoding of the log files handled by the jail
#   This is used to decode the lines from the log file.
#   Typical examples:  "ascii", "utf-8"
#
#   auto:   will use the system locale setting
logencoding = {{ fail2ban_config_values.log_encoding }}

# "enabled" enables the jails.
#  By default all jails are disabled, and it should stay this way.
#  Enable only relevant to your setup jails in your .local or jail.d/*.conf
#
# true:  jail will be enabled and log files will get monitored for changes
# false: jail is not enabled
enabled = {{ fail2ban_config_values.enable_all_jails }}


# "filter" defines the filter to use by the jail.
#  By default jails have names matching their filter name
#
filter = {{ fail2ban_config_values.filter }}


#
# ACTIONS
#

# Some options used for actions

# Destination email address used solely for the interpolations in
# jail.{conf,local,d/*} configuration files.
destemail = {{ fail2ban_config_values.destemail }}

# Sender email address used solely for some actions
sender = {{ fail2ban_config_values.sender }}

# E-mail action. Since 0.8.1 Fail2Ban uses sendmail MTA for the
# mailing. Change mta configuration parameter to mail if you want to
# revert to conventional 'mail'.
mta = {{ fail2ban_config_values.mta }}

# Default protocol
protocol = {{ fail2ban_config_values.protocol }}

# Specify chain where jumps would need to be added in iptables-* actions
chain = {{ fail2ban_config_values.chain }}

# Ports to be banned
# Usually should be overridden in a particular jail
port = {{ fail2ban_config_values.port }}

# Format of user-agent https://tools.ietf.org/html/rfc7231#section-5.5.3
fail2ban_agent = Fail2Ban/%(fail2ban_version)s

#
# Action shortcuts. To be used to define action parameter

# Default banning action (e.g. iptables, iptables-new,
# iptables-multiport, shorewall, etc) It is used to define
# action_* variables. Can be overridden globally or per
# section within jail.local file
banaction = {{ fail2ban_config_values.banaction }}
banaction_allports = {{ fail2ban_config_values.banaction_allports }}

# The simplest action to take: ban only
action_ = %(banaction)s[name=%(__name__)s, bantime="%(bantime)s", port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]

# ban & send an e-mail with whois report to the destemail.
action_mw = %(banaction)s[name=%(__name__)s, bantime="%(bantime)s", port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
            %(mta)s-whois[name=%(__name__)s, sender="%(sender)s", dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s"]

# ban & send an e-mail with whois report and relevant log lines
# to the destemail.
action_mwl = %(banaction)s[name=%(__name__)s, bantime="%(bantime)s", port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
             %(mta)s-whois-lines[name=%(__name__)s, sender="%(sender)s", dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s"]

# See the IMPORTANT note in action.d/xarf-login-attack for when to use this action
#
# ban & send a xarf e-mail to abuse contact of IP address and include relevant log lines
# to the destemail.
action_xarf = %(banaction)s[name=%(__name__)s, bantime="%(bantime)s", port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
             xarf-login-attack[service=%(__name__)s, sender="%(sender)s", logpath=%(logpath)s, port="%(port)s"]

# ban IP on CloudFlare & send an e-mail with whois report and relevant log lines
# to the destemail.
action_cf_mwl = cloudflare[cfuser="%(cfemail)s", cftoken="%(cfapikey)s"]
                %(mta)s-whois-lines[name=%(__name__)s, sender="%(sender)s", dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s"]

# Report block via blocklist.de fail2ban reporting service API
# 
# See the IMPORTANT note in action.d/blocklist_de.conf for when to
# use this action. Create a file jail.d/blocklist_de.local containing
# [Init]
# blocklist_de_apikey = {api key from registration]
#
action_blocklist_de  = blocklist_de[email="%(sender)s", service=%(filter)s, apikey="%(blocklist_de_apikey)s", agent="%(fail2ban_agent)s"]

# Report ban via badips.com, and use as blacklist
#
# See BadIPsAction docstring in config/action.d/badips.py for
# documentation for this action.
#
# NOTE: This action relies on banaction being present on start and therefore
# should be last action defined for a jail.
#
action_badips = badips.py[category="%(__name__)s", banaction="%(banaction)s", agent="%(fail2ban_agent)s"]
#
# Report ban via badips.com (uses action.d/badips.conf for reporting only)
#
action_badips_report = badips[category="%(__name__)s", agent="%(fail2ban_agent)s"]

# Choose default action.  To change, just override value of 'action' with the
# interpolation to the chosen action shortcut (e.g.  action_mw, action_mwl, etc) in jail.local
# globally (section [DEFAULT]) or per specific section
action = {{ fail2ban_config_values.action }}


#
# JAILS
#

#
# SSH servers
#

[sshd]

enabled  = {{ fail2ban_config_values.jail.ssh.enable }}
port     = ssh
logpath  = %(sshd_log)s
backend  = %(sshd_backend)s
maxretry = {{ fail2ban_config_values.jail.ssh.maxretry }}


[sshd-ddos]
# This jail corresponds to the standard configuration in Fail2ban.
# The mail-whois action send a notification e-mail with a whois request
# in the body.
enabled = {{ fail2ban_config_values.jail.ssh_ddos.enable }}
port    = ssh
logpath = %(sshd_log)s
backend = %(sshd_backend)s


[dropbear]

enabled  = {{ fail2ban_config_values.jail.dropbear.enable }}
port     = ssh
logpath  = %(dropbear_log)s
backend  = %(dropbear_backend)s
maxretry = {{ fail2ban_config_values.jail.dropbear.maxretry }}


[selinux-ssh]

enable = {{ fail2ban_config_values.jail.selinux_ssh.enable }}
port     = ssh
logpath  = %(auditd_log)s
maxretry = {{ fail2ban_config_values.jail.selinux_ssh.maxretry }}


#
# HTTP servers
#

[apache-auth]

enabled  = {{ fail2ban_config_values.jail.apache_auth.enable }}
port     = http,https
logpath  = %(apache_error_log)s
maxretry = {{ fail2ban_config_values.jail.apache_auth.maxretry }}


[apache-noscript]

enabled  = {{ fail2ban_config_values.jail.apache_noscript.enable }}
port     = http,https
logpath  = %(apache_error_log)s
maxretry = {{ fail2ban_config_values.jail.apache_noscript.maxretry }}


[apache-overflows]

enabled  = {{ fail2ban_config_values.jail.apache_overflows.enable }}
port     = http,https
logpath  = %(apache_error_log)s
maxretry = {{ fail2ban_config_values.jail.apache_overflows.maxretry }}


[apache-nohome]

enabled  = {{ fail2ban_config_values.jail.apache_nohome.enable }}
port     = http,https
logpath  = %(apache_error_log)s
maxretry = {{ fail2ban_config_values.jail.apache_nohome.maxretry }}


[apache-botsearch]

enabled  = {{ fail2ban_config_values.jail.apache_botsearch.enable }}
port     = http,https
logpath  = %(apache_error_log)s
maxretry = {{ fail2ban_config_values.jail.apache_botsearch.maxretry }}


[apache-fakegooglebot]

enabled       = {{ fail2ban_config_values.jail.apache_fakegooglebot.enable }}
port          = http,https
logpath       = %(apache_access_log)s
maxretry      = {{ fail2ban_config_values.jail.apache_fakegooglebot.maxretry }}
ignorecommand = {{ fail2ban_config_values.jail.apache_fakegooglebot.ignorecommand }}


[apache-modsecurity]

enabled  = {{ fail2ban_config_values.jail.apache_modsecurity.enable }}
port     = http,https
logpath  = %(apache_error_log)s
maxretry = {{ fail2ban_config_values.jail.apache_modsecurity.maxretry }}


[apache-shellshock]

enabled  = {{ fail2ban_config_values.jail.apache_shellshock.enable }}
port     = http,https
logpath  = %(apache_error_log)s
maxretry = {{ fail2ban_config_values.jail.apache_shellshock.maxretry }}


[openhab-auth]

enabled  = {{ fail2ban_config_values.jail.openhab_auth.enable }}
filter = openhab
action = iptables-allports[name=NoAuthFailures]
logpath = {{ fail2ban_config_values.jail.openhab_auth.logpath }}


[nginx-http-auth]

enabled  = {{ fail2ban_config_values.jail.nginx_http_auth.enable }}
port     = http,https
logpath  = %(nginx_error_log)s
maxretry = {{ fail2ban_config_values.jail.nginx_http_auth.maxretry }}

# To use 'nginx-limit-req' jail you should have `ngx_http_limit_req_module` 
# and define `limit_req` and `limit_req_zone` as described in nginx documentation
# http://nginx.org/en/docs/http/ngx_http_limit_req_module.html
# or for example see in 'config/filter.d/nginx-limit-req.conf'
[nginx-limit-req]
port    = http,https
logpath = %(nginx_error_log)s

[nginx-botsearch]

enabled  = {{ fail2ban_config_values.jail.nginx_botsearch.enable }}
port     = http,https
logpath  = %(nginx_error_log)s
maxretry = {{ fail2ban_config_values.jail.nginx_botsearch.maxretry }}


# Ban attackers that try to use PHP's URL-fopen() functionality
# through GET/POST variables. - Experimental, with more than a year
# of usage in production environments.

[php-url-fopen]

enabled = {{ fail2ban_config_values.jail.php_url_fopen.enable }}
port    = http,https
logpath = %(nginx_access_log)s
          %(apache_access_log)s


[suhosin]

port    = http,https
logpath = %(suhosin_log)s


[lighttpd-auth]
# Same as above for Apache's mod_auth
# It catches wrong authentifications
enabled = {{ fail2ban_config_values.jail.lighttpd_auth.enable }}
port    = http,https
logpath = %(lighttpd_error_log)s


#
# Webmail and groupware servers
#

[roundcube-auth]

enabled = {{ fail2ban_config_values.jail.roundcube_auth.enable }}
port    = http,https
logpath = %(roundcube_errors_log)s


[openwebmail]

enabled = {{ fail2ban_config_values.jail.openwebmail.enable }}
port    = http,https
logpath = {{ fail2ban_config_values.jail.openwebmail.logpath }}


[horde]

enabled = {{ fail2ban_config_values.jail.horde.enable }}
port    = http,https
logpath = {{ fail2ban_config_values.jail.horde.logpath }}


[groupoffice]

enabled = {{ fail2ban_config_values.jail.groupoffice.enable }}
port    = http,https
logpath = {{ fail2ban_config_values.jail.groupoffice.logpath }}


[sogo-auth]
# Monitor SOGo groupware server
# without proxy this would be:
# port  = 20000
enabled = {{ fail2ban_config_values.jail.sogo_auth.enable }}
port    = http,https
logpath = {{ fail2ban_config_values.jail.sogo_auth.logpath }}


[tine20]

enabled  = {{ fail2ban_config_values.jail.tine20.enable }}
logpath  = {{ fail2ban_config_values.jail.tine20.logpath }}
port     = http,https
maxretry = {{ fail2ban_config_values.jail.tine20.maxretry }}


#
# Web Applications
#
#

[drupal-auth]

enabled = {{ fail2ban_config_values.jail.drupal_auth.enable }}
port    = http,https
logpath = %(syslog_daemon)s
backend = %(syslog_backend)s

[guacamole]

enabled = {{ fail2ban_config_values.jail.guacamole.enable }}
port    = http,https
logpath = {{ fail2ban_config_values.jail.guacamole.logpath }}


[monit]
# Ban clients brute-forcing the monit gui login
enabled = {{ fail2ban_config_values.jail.monit.enable }}
filter  = monit
port    = {{ fail2ban_config_values.jail.monit.port }}
logpath = {{ fail2ban_config_values.jail.monit.logpath }}


[webmin-auth]

enabled = {{ fail2ban_config_values.jail.webmin_auth.enable }}
port    = {{ fail2ban_config_values.jail.webmin_auth.port }}
logpath = %(syslog_authpriv)s
backend = %(syslog_backend)s


[froxlor-auth]

enabled = {{ fail2ban_config_values.jail.froxlor_auth.enable }}
port    = http,https
logpath = %(syslog_authpriv)s
backend = %(syslog_backend)s


#
# HTTP Proxy servers
#
#

[squid]

enabled = {{ fail2ban_config_values.jail.squid.enable }}
port    = {{ fail2ban_config_values.jail.squid.port }}
logpath = {{ fail2ban_config_values.jail.squid.logpath }}


[3proxy]

enabled = {{ fail2ban_config_values.jail.proxy3.enable }}
port    = {{ fail2ban_config_values.jail.proxy3.port }}
logpath = {{ fail2ban_config_values.jail.proxy3.logpath }}


#
# FTP servers
#


[proftpd]

enabled  = {{ fail2ban_config_values.jail.proftpd.enable }}
port     = ftp,ftp-data,ftps,ftps-data
logpath  = %(proftpd_log)s
backend  = %(proftpd_backend)s
maxretry = {{ fail2ban_config_values.jail.proftpd.maxretry }}

[pure-ftpd]

enabled  = {{ fail2ban_config_values.jail.pure_ftpd.enable }}
port     = ftp,ftp-data,ftps,ftps-data
logpath  = %(pureftpd_log)s
backend  = %(pureftpd_backend)s
maxretry = {{ fail2ban_config_values.jail.pure_ftpd.maxretry }}


[gssftpd]

enabled  = {{ fail2ban_config_values.jail.gssftpd.enable }}
port     = ftp,ftp-data,ftps,ftps-data
logpath  = %(syslog_daemon)s
backend  = %(syslog_backend)s
maxretry = {{ fail2ban_config_values.jail.gssftpd.maxretry }}


[wuftpd]

enabled  = {{ fail2ban_config_values.jail.wuftpd.enable }}
port     = ftp,ftp-data,ftps,ftps-data
logpath  = %(wuftpd_log)s
maxretry = {{ fail2ban_config_values.jail.wuftpd.maxretry }}


[vsftpd]
# or overwrite it in jails.local to be
# logpath = %(syslog_authpriv)s
# if you want to rely on PAM failed login attempts
# vsftpd's failregex should match both of those formats
enabled  = {{ fail2ban_config_values.jail.vsftpd.enable }}
port     = ftp,ftp-data,ftps,ftps-data
logpath  = %(vsftpd_log)s
maxretry = {{ fail2ban_config_values.jail.vsftpd.maxretry }}


#
# Mail servers
#

# ASSP SMTP Proxy Jail
[assp]

enabled = {{ fail2ban_config_values.jail.assp.enable }}
port    = {{ fail2ban_config_values.jail.assp.port }}
logpath = {{ fail2ban_config_values.jail.assp.logpath }}


[courier-smtp]

enabled = {{ fail2ban_config_values.jail.couriersmtp.enable }}
port    = {{ fail2ban_config_values.jail.couriersmtp.port }}
logpath = %(syslog_mail)s
backend = %(syslog_backend)s


[postfix]

enabled = {{ fail2ban_config_values.jail.postfix.enable }}
port    = {{ fail2ban_config_values.jail.postfix.port }}
logpath = %(postfix_log)s
backend = %(postfix_backend)s


[postfix-rbl]

enabled  = {{ fail2ban_config_values.jail.postfix_rbl.enable }}
port     = {{ fail2ban_config_values.jail.postfix_rbl.port }}
logpath  = %(syslog_mail)s
backend  = %(postfix_backend)s
maxretry = {{ fail2ban_config_values.jail.postfix_rbl.maxretry }}


[sendmail-auth]

enabled = {{ fail2ban_config_values.jail.sendmail_auth.enable }}
port    = {{ fail2ban_config_values.jail.sendmail_auth.port }}
logpath = %(syslog_mail)s
backend = %(syslog_backend)s


[sendmail-reject]

enabled = {{ fail2ban_config_values.jail.sendmail_reject.enable }}
port    = {{ fail2ban_config_values.jail.sendmail_reject.port }}
logpath = %(syslog_mail)s
backend  = %(syslog_backend)s


[qmail-rbl]

enabled = {{ fail2ban_config_values.jail.qmail_rbl.enable }}
port    = {{ fail2ban_config_values.jail.qmail_rbl.port }}
filter  = qmail
logpath = {{ fail2ban_config_values.jail.qmail_rbl.logpath }}


# dovecot defaults to logging to the mail syslog facility
# but can be set by syslog_facility in the dovecot configuration.
[dovecot]

enabled = {{ fail2ban_config_values.jail.dovecot.enable }}
port    = {{ fail2ban_config_values.jail.dovecot.port }}
logpath = %(dovecot_log)s
backend = %(dovecot_backend)s


[sieve]

enabled = {{ fail2ban_config_values.jail.sieve.enable }}
port    = {{ fail2ban_config_values.jail.sieve.port }}
logpath = %(dovecot_log)s
backend = %(dovecot_backend)s


[solid-pop3d]

enabled = {{ fail2ban_config_values.jail.solid_pop3d.enable }}
port    = {{ fail2ban_config_values.jail.solid_pop3d.port }}
logpath = %(solidpop3d_log)s


[exim]

enabled = {{ fail2ban_config_values.jail.exim.enable }}
port    = {{ fail2ban_config_values.jail.exim.port }}
logpath = %(exim_main_log)s


[exim-spam]

enabled = {{ fail2ban_config_values.jail.exim_spam.enable }}
port    = {{ fail2ban_config_values.jail.exim_spam.port }}
logpath = %(exim_main_log)s


[kerio]

enabled = {{ fail2ban_config_values.jail.kerio.enable }}
port    = {{ fail2ban_config_values.jail.kerio.port }}
logpath = {{ fail2ban_config_values.jail.kerio.logpath }}


#
# Mail servers authenticators: might be used for smtp,ftp,imap servers, so
# all relevant ports get banned
#

[courier-auth]

enabled = {{ fail2ban_config_values.jail.courierauth.enable }}
port    = {{ fail2ban_config_values.jail.courierauth.port }}
logpath = %(syslog_mail)s
backend  = %(syslog_backend)s


[postfix-sasl]

enabled = {{ fail2ban_config_values.jail.postfix_sasl.enable }}
port    = {{ fail2ban_config_values.jail.postfix_sasl.port }}
# You might consider monitoring /var/log/mail.warn instead if you are
# running postfix since it would provide the same log lines at the
# "warn" level but overall at the smaller filesize.
logpath  = %(postfix_log)s
backend  = %(postfix_backend)s


[perdition]

enabled = {{ fail2ban_config_values.jail.perdition.enable }}
port    = {{ fail2ban_config_values.jail.perdition.port }}
logpath = %(syslog_mail)s
backend = %(syslog_backend)s


[squirrelmail]

enabled = {{ fail2ban_config_values.jail.squirrelmail.enable }}
port    = {{ fail2ban_config_values.jail.squirrelmail.port }}
logpath = {{ fail2ban_config_values.jail.squirrelmail.logpath }}


[cyrus-imap]

enabled = {{ fail2ban_config_values.jail.cyrius_imap.enable }}
port    = {{ fail2ban_config_values.jail.cyrius_imap.port }}
logpath = %(syslog_mail)s
backend = %(syslog_backend)s


[uwimap-auth]

enabled = {{ fail2ban_config_values.jail.uwimap_auth.enable }}
port    = {{ fail2ban_config_values.jail.uwimap_auth.port }}
logpath = %(syslog_mail)s
backend = %(syslog_backend)s


#
#
# DNS servers
#


# !!! WARNING !!!
#   Since UDP is connection-less protocol, spoofing of IP and imitation
#   of illegal actions is way too simple.  Thus enabling of this filter
#   might provide an easy way for implementing a DoS against a chosen
#   victim. See
#    http://nion.modprobe.de/blog/archives/690-fail2ban-+-dns-fail.html
#   Please DO NOT USE this jail unless you know what you are doing.
#
# IMPORTANT: see filter.d/named-refused for instructions to enable logging
# This jail blocks UDP traffic for DNS requests.
# [named-refused-udp]
#
# filter   = named-refused
# port     = domain,953
# protocol = udp
# logpath  = /var/log/named/security.log

# IMPORTANT: see filter.d/named-refused for instructions to enable logging
# This jail blocks TCP traffic for DNS requests.

[named-refused]

enabled = {{ fail2ban_config_values.jail.named_refused_tcp.enable }}
port    = domain,953
logpath = {{ fail2ban_config_values.jail.named_refused_tcp.logpath }}


[nsd]

enabled = {{ fail2ban_config_values.jail.nsd.enable }}
port    = {{ fail2ban_config_values.jail.nsd.port }}
action  = %(banaction)s[name=%(__name__)s-tcp, port="%(port)s", protocol="tcp", chain="%(chain)s", actname=%(banaction)s-tcp]
          %(banaction)s[name=%(__name__)s-udp, port="%(port)s", protocol="udp", chain="%(chain)s", actname=%(banaction)s-udp]
logpath = {{ fail2ban_config_values.jail.nsd.logpath }}


#
# Miscellaneous
#

[asterisk]

enabled  = {{ fail2ban_config_values.jail.asterisk.enable }}
port     = {{ fail2ban_config_values.jail.asterisk.port }}
action   = %(banaction)s[name=%(__name__)s-tcp, port="%(port)s", protocol="tcp", chain="%(chain)s", actname=%(banaction)s-tcp]
           %(banaction)s[name=%(__name__)s-udp, port="%(port)s", protocol="udp", chain="%(chain)s", actname=%(banaction)s-udp]
           %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s"]
logpath  = {{ fail2ban_config_values.jail.asterisk.logpath }}
maxretry = {{ fail2ban_config_values.jail.asterisk.maxretry }}


[freeswitch]

enabled  = {{ fail2ban_config_values.jail.freeswitch.enable }}
port     = {{ fail2ban_config_values.jail.freeswitch.port }}
action   = %(banaction)s[name=%(__name__)s-tcp, port="%(port)s", protocol="tcp", chain="%(chain)s", actname=%(banaction)s-tcp]
           %(banaction)s[name=%(__name__)s-udp, port="%(port)s", protocol="udp", chain="%(chain)s", actname=%(banaction)s-udp]
           %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s"]
logpath  = {{ fail2ban_config_values.jail.freeswitch.logpath }}
maxretry = {{ fail2ban_config_values.jail.freeswitch.maxretry }}


# To log wrong MySQL access attempts add to /etc/my.cnf in [mysqld] or
# equivalent section:
# log-warning = 2
#
# for syslog (daemon facility)
# [mysqld_safe]
# syslog
#
# for own logfile
# [mysqld]
# log-error=/var/log/mysqld.log
[mysqld-auth]

enabled  = {{ fail2ban_config_values.jail.mysqld_auth.enable }}
port     = {{ fail2ban_config_values.jail.mysqld_auth.port }}
logpath  = %(mysql_log)s
backend  = %(mysql_backend)s
maxretry = {{ fail2ban_config_values.jail.mysqld_auth.maxretry }}


# Log wrong MongoDB auth (for details see filter 'filter.d/mongodb-auth.conf')
[mongodb-auth]
# change port when running with "--shardsvr" or "--configsvr" runtime operation
enabled  = {{ fail2ban_config_values.jail.mongodb_auth.enable }}
port     = {{ fail2ban_config_values.jail.mongodb_auth.port }}
logpath  = {{ fail2ban_config_values.jail.mongodb_auth.logpath }}


# Jail for more extended banning of persistent abusers
# !!! WARNINGS !!!
# 1. Make sure that your loglevel specified in fail2ban.conf/.local
#    is not at DEBUG level -- which might then cause fail2ban to fall into
#    an infinite loop constantly feeding itself with non-informative lines
# 2. Increase dbpurgeage defined in fail2ban.conf to e.g. 648000 (7.5 days)
#    to maintain entries for failed logins for sufficient amount of time
[recidive]

enabled   = {{ fail2ban_config_values.jail.recidive.enable }}
logpath   = {{ fail2ban_config_values.jail.recidive.logpath }}
banaction = iptables-allports
bantime   = {{ fail2ban_config_values.jail.recidive.bantime }} ; 1 week
findtime  = {{ fail2ban_config_values.jail.recidive.findtime }} ; 1 day
maxretry  = {{ fail2ban_config_values.jail.recidive.maxretry }}


# Generic filter for PAM. Has to be used with action which bans all
# ports such as iptables-allports, shorewall

[pam-generic]
# pam-generic filter can be customized to monitor specific subset of 'tty's
enabled   = {{ fail2ban_config_values.jail.pam_generic.enable }}
banaction = iptables-allports
logpath   = %(syslog_authpriv)s
backend   = %(syslog_backend)s
maxretry  = {{ fail2ban_config_values.jail.pam_generic.maxretry }}


[xinetd-fail]

enabled   = {{ fail2ban_config_values.jail.xinetd_fail.enable }}
banaction = iptables-multiport-log
logpath   = %(syslog_daemon)s
backend   = %(syslog_backend)s
maxretry  = {{ fail2ban_config_values.jail.xinetd_fail.maxretry }}


# stunnel - need to set port for this
[stunnel]

enabled = {{ fail2ban_config_values.jail.stunnel.enable }}
logpath = {{ fail2ban_config_values.jail.stunnel.logpath }}


[ejabberd-auth]

enabled = {{ fail2ban_config_values.jail.ejabberd_auth.enable }}
port    = 5222
logpath = {{ fail2ban_config_values.jail.ejabberd_auth.logpath }}


[counter-strike]

enabled = {{ fail2ban_config_values.jail.counter_strike.enable }}
logpath = {{ fail2ban_config_values.jail.counter_strike.logpath }}
# Firewall: http://www.cstrike-planet.com/faq/6
tcpport = {{ fail2ban_config_values.jail.counter_strike.tcp_port }}
udpport = {{ fail2ban_config_values.jail.counter_strike.udp_port }}
action  = %(banaction)s[name=%(__name__)s-tcp, port="%(tcpport)s", protocol="tcp", chain="%(chain)s", actname=%(banaction)s-tcp]
          %(banaction)s[name=%(__name__)s-udp, port="%(udpport)s", protocol="udp", chain="%(chain)s", actname=%(banaction)s-udp]


# consider low maxretry and a long bantime
# nobody except your own Nagios server should ever probe nrpe
[nagios]

enabled  = {{ fail2ban_config_values.jail.nagios.enable }}
logpath  = %(syslog_daemon)s     ; nrpe.cfg may define a different log_facility
backend  = %(syslog_backend)s
maxretry = {{ fail2ban_config_values.jail.nagios.maxretry }}


[oracleims]
# see "oracleims" filter file for configuration requirement for Oracle IMS v6 and above
enabled   = {{ fail2ban_config_values.jail.oracleims.enable }}
logpath   = {{ fail2ban_config_values.jail.oracleims.logpath }}
maxretry  = {{ fail2ban_config_values.jail.oracleims.maxretry }}
banaction = %(banaction_allports)s


[directadmin]
enabled = {{ fail2ban_config_values.jail.directadmin.enable }}
logpath = {{ fail2ban_config_values.jail.directadmin.logpath }}
port    = {{ fail2ban_config_values.jail.directadmin.port }}


[portsentry]
enabled  = {{ fail2ban_config_values.jail.portsentry.enable }}
logpath  = {{ fail2ban_config_values.jail.portsentry.logpath }}
maxretry = {{ fail2ban_config_values.jail.portsentry.maxretry }}


[pass2allow-ftp]
# this pass2allow example allows FTP traffic after successful HTTP authentication
enabled    = {{ fail2ban_config_values.jail.pass2allow_ftp.enable }}
port       = {{ fail2ban_config_values.jail.pass2allow_ftp.port }}
# knocking_url variable must be overridden to some secret value in filter.d/apache-pass.local
filter     = {{ fail2ban_config_values.jail.pass2allow_ftp.filter }}
knocking_url = {{ fail2ban_config_values.jail.pass2allow_ftp.knocking_url }}
# access log of the website with HTTP auth
logpath    = %(apache_access_log)s
blocktype  = {{ fail2ban_config_values.jail.pass2allow_ftp.blocktype }}
returntype = {{ fail2ban_config_values.jail.pass2allow_ftp.returntype }}
bantime    = {{ fail2ban_config_values.jail.pass2allow_ftp.bantime }}
maxretry   = {{ fail2ban_config_values.jail.pass2allow_ftp.maxretry }}
findtime   = {{ fail2ban_config_values.jail.pass2allow_ftp.findtime }}


[murmur]
# AKA mumble-server
enabled  = {{ fail2ban_config_values.jail.murmur.enable }}
port     = {{ fail2ban_config_values.jail.murmur.port }}
action   = %(banaction)s[name=%(__name__)s-tcp, port="%(port)s", protocol=tcp, chain="%(chain)s", actname=%(banaction)s-tcp]
           %(banaction)s[name=%(__name__)s-udp, port="%(port)s", protocol=udp, chain="%(chain)s", actname=%(banaction)s-udp]
logpath  = {{ fail2ban_config_values.jail.murmur.logpath }}


[screensharingd]
# For Mac OS Screen Sharing Service (VNC)
enabled     = {{ fail2ban_config_values.jail.screensharingd.enable }}
logpath     = {{ fail2ban_config_values.jail.screensharingd.logpath }}
logencoding = {{ fail2ban_config_values.jail.screensharingd.logencoding }}


[haproxy-http-auth]
# HAProxy by default doesn't log to file you'll need to set it up to forward
# logs to a syslog server which would then write them to disk.
# See "haproxy-http-auth" filter for a brief cautionary note when setting
# maxretry and findtime.
enabled  = {{ fail2ban_config_values.jail.haproxy_http_auth.enable }}
logpath  = {{ fail2ban_config_values.jail.haproxy_http_auth.logpath }}


[slapd]
enabled = {{ fail2ban_config_values.jail.slapd.enable }}
port    = {{ fail2ban_config_values.jail.slapd.port }}
filter  = slapd
logpath = {{ fail2ban_config_values.jail.slapd.logpath }}


{% if fail2ban_config_values.custom_jail.w00tw00t.enable|string() == "true" %}
# w00tw00t filter
[apache-w00tw00t]

enabled   = {{ fail2ban_config_values.custom_jail.w00tw00t.enable }}
filter    = apache-w00tw00t
port      = all
banaction = iptables-allports
logpath   = {{ fail2ban_config_values.custom_jail.w00tw00t.logpath }}
maxretry  = {{ fail2ban_config_values.custom_jail.w00tw00t.maxretry }}
bantime   = {{ fail2ban_config_values.custom_jail.w00tw00t.bantime }}
{% endif %}

{% if fail2ban_config_values.custom_jail.apache_blockscan.enable|string() == "true" %}
# blockscan filter
[apache-blockscan]

enabled  = {{ fail2ban_config_values.custom_jail.apache_blockscan.enable }}
port     = http,https
filter   = apache-blockscan
logpath  = {{ fail2ban_config_values.custom_jail.apache_blockscan.logpath }}
bantime  = {{ fail2ban_config_values.custom_jail.apache_blockscan.bantime }}
maxretry = {{ fail2ban_config_values.custom_jail.apache_blockscan.maxretry }}
{% endif %}

{% if fail2ban_config_values.custom_jail.apache_phpmyadmin.enable|string() == "true" %}
# phpmyadmin filter
[apache-phpmyadmin]

enabled  = {{ fail2ban_config_values.custom_jail.apache_phpmyadmin.enable }}
port     = http,https
filter   = apache-phpmyadmin
logpath  = {{ fail2ban_config_values.custom_jail.apache_phpmyadmin.logpath }}
maxretry = {{ fail2ban_config_values.custom_jail.apache_phpmyadmin.maxretry }}
{% endif %}

{% if fail2ban_config_values.custom_jail.apache_badbots.enable|string() == "true" %}
# badbots filter
[apache-badbots]

enabled   = {{ fail2ban_config_values.custom_jail.apache_badbots.enable }}
filter    = apache-badbots
port      = http,https
banaction = iptables-allports
logpath   = {{ fail2ban_config_values.custom_jail.apache_badbots.logpath }}
bantime   = {{ fail2ban_config_values.custom_jail.apache_badbots.bantime }}
maxretry  = {{ fail2ban_config_values.custom_jail.apache_badbots.maxretry }}
{% endif %}

{% if fail2ban_config_values.custom_jail.apache_wp_login.enable|string() == "true" %}
# wordpress filter
[apache-wp-login]

enabled  = {{ fail2ban_config_values.custom_jail.apache_wp_login.enable }}
port     = http,https
filter   = apache-wp-login
logpath  = {{ fail2ban_config_values.custom_jail.apache_wp_login.logpath }}
maxretry = {{ fail2ban_config_values.custom_jail.apache_wp_login.maxretry }}
{% endif %}

{% if fail2ban_config_values.custom_jail.apache_rss_login.enable|string() == "true" %}
# leedrss filter
[apache-rss-login]

enabled  = {{ fail2ban_config_values.custom_jail.apache_rss_login.enable }}
port     = http,https
filter   = apache-rss-login
logpath  = {{ fail2ban_config_values.custom_jail.apache_rss_login.logpath }}
maxretry = {{ fail2ban_config_values.custom_jail.apache_rss_login.maxretry }}
{% endif %}

{% if fail2ban_config_values.custom_jail.apache_piwik_login.enable|string() == "true" %}
# piwik filter
[apache-piwik-login]

enabled  = {{ fail2ban_config_values.custom_jail.apache_piwik_login.enable }}
port     = http,https
filter   = apache-piwik-login
logpath  = {{ fail2ban_config_values.custom_jail.apache_piwik_login.logpath }}
maxretry = {{ fail2ban_config_values.custom_jail.apache_piwik_login.maxretry }}
{% endif %}

{% if fail2ban_config_values.custom_jail.apache_mail_login.enable|string() == "true" %}
# rainloop filter
[apache-mail-login]

enabled  = {{ fail2ban_config_values.custom_jail.apache_mail_login.enable }}
port     = http,https
filter   = apache-mail-login
logpath  = {{ fail2ban_config_values.custom_jail.apache_mail_login.logpath }}
maxretry = {{ fail2ban_config_values.custom_jail.apache_mail_login.maxretry }}
{% endif %}

{% if fail2ban_config_values.custom_jail.apache_nextcloud.enable|string() == "true" %}
# nextcloud filter
[apache-nextcloud]

enabled  = {{ fail2ban_config_values.custom_jail.apache_nextcloud.enable }}
port     = http,https
filter   = apache-nextcloud
logpath  = {{ fail2ban_config_values.custom_jail.apache_nextcloud.logpath }}
maxretry = {{ fail2ban_config_values.custom_jail.apache_nextcloud.maxretry }}
{% endif %}

{% if fail2ban_config_values.custom_jail.apache_wallabag.enable|string() == "true" %}
# wallabag filter
[apache-wallabag]

enabled  = {{ fail2ban_config_values.custom_jail.apache_wallabag.enable }}
port     = http,https
filter   = apache-wallabag
logpath  = {{ fail2ban_config_values.custom_jail.apache_wallabag.logpath }}
maxretry = {{ fail2ban_config_values.custom_jail.apache_wallabag.maxretry }}
{% endif %}

{% if fail2ban_config_values.custom_jail.openvpn.enable|string() == "true" %}
# openVPN filter
[openvpn]

enabled  = {{ fail2ban_config_values.custom_jail.openvpn.enable }}
port     = {{ fail2ban_config_values.custom_jail.openvpn.port }}
protocol = {{ fail2ban_config_values.custom_jail.openvpn.protocol }}
filter   = openvpn
logpath  = {{ fail2ban_config_values.custom_jail.openvpn.logpath }}
maxretry = {{ fail2ban_config_values.custom_jail.openvpn.maxretry }}
{% endif %}

{% if fail2ban_config_values.custom_jail.ban.enable|string() == "true" %}
# block ddos attacks
# 3 bans in 1hour = ban for 1 hour
[ban]

enabled  = {{ fail2ban_config_values.custom_jail.ban.enable }}
filter   = ban
logpath  = {{ fail2ban_config_values.custom_jail.ban.logpath }}
maxretry = {{ fail2ban_config_values.custom_jail.ban.maxretry }}
findtime = {{ fail2ban_config_values.custom_jail.ban.findtime }}
action   = iptables-allports[name=ban, protocol=tcp]
bantime  = {{ fail2ban_config_values.custom_jail.ban.bantime }}
{% endif %}

{% if fail2ban_config_values.custom_jail.multiban.enable|string() == "true" %}
# multiban filter
# 3 multibans in 4 hours = ban for 24 hours
[multiban]

enabled  = {{ fail2ban_config_values.custom_jail.multiban.enable }}
filter   = multiban
logpath  = {{ fail2ban_config_values.custom_jail.multiban.logpath }}
maxretry = {{ fail2ban_config_values.custom_jail.multiban.maxretry }}
findtime = {{ fail2ban_config_values.custom_jail.multiban.findtime }}
action   = iptables-allports[name=multiban, protocol=tcp]
bantime  = {{ fail2ban_config_values.custom_jail.multiban.bantime }}
{% endif %}

{% if fail2ban_config_values.custom_jail.apache_null.enable|string() == "true" %}
# null queries filter
[apache-null]

enabled   = {{ fail2ban_config_values.custom_jail.apache_null.enable }}
port      = http,https
filter    = apache-null
banaction = iptables-multiport
logpath   = {{ fail2ban_config_values.custom_jail.apache_null.logpath }}
bantime   = {{ fail2ban_config_values.custom_jail.apache_null.bantime }}
maxretry  = {{ fail2ban_config_values.custom_jail.apache_null.maxretry }}
{% endif %}
