#------------------------------------------------------------------------------#
{{ ansible_managed | comment }}
#------------------------------------------------------------------------------#

#------------------------------------------------------------------------------#
#                   OFFICIAL DEBIAN REPOS
#------------------------------------------------------------------------------#

###### Debian Main Repos
deb http://httpredir.debian.org/debian/ {{ ansible_distribution_release }} main contrib non-free
deb-src http://httpredir.debian.org/debian/ {{ ansible_distribution_release }} main contrib non-free

###### Debian Security Update Repos
deb http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib non-free
deb-src http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib non-free

###### Debian Update Repos
deb http://ftp.fr.debian.org/debian/ {{ ansible_distribution_release }}-updates main contrib non-free
deb-src http://ftp.fr.debian.org/debian/ {{ ansible_distribution_release }}-updates main contrib non-free

###### Debian Backports Repos
deb http://debian.mirrors.ovh.net/debian/ {{ ansible_distribution_release }}-backports main contrib non-free
deb-src http://debian.mirrors.ovh.net/debian/ {{ ansible_distribution_release }}-backports main contrib non-free

#------------------------------------------------------------------------------#
#                   NON OFFICIAL DEBIAN REPOS
#------------------------------------------------------------------------------#

# See the contents of the following directory : /etc/apt/sources.list.d/
